body{
    background-color: #f4f0bd !important;
}
/* #img-div{
    background-color: white;
} */
#title{
	font-family: "Trirong", serif;
	font-size: 50px;
}
#image{
    
	  border-radius:7% 25%;
	  max-width: 100%;
  display: block;
	height: auto;
	margin: 0 auto;
  

}
#image-slide{
    
	 border-radius:7% 25%;
	  width: 100%;
	height: 50%;
	vertical-align: middle;
	

}
#img-caption {
  margin: 15px 0 5px 0; 
  
}
@media screen and (max-width: 600px) {
    #image{
        border-radius: 20% !important;
    }
	#image-slide{
    
	 border-radius:20%;
	  width: 50%;
	height: 50%;
	vertical-align: middle;
	

}
}
.description{
	font-family: "Trirong", serif;
	font-size: 30px;
	text-align:center;
	margin: 25px 0;
	
}
li {
  margin: 16px 0;
}
#sub-title{
	 width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   
   	font-family: "Trirong", serif; !important;
	
	text-align:center;

	
}
#sub-title span {  background:#f4f0bd; padding:0 10px; }

#tribute-info  {  border-style: solid;

	border: 1px solid #000;  
}




